html{
    box-sizing: inherit;
}

section{
    width: 250px;
    height: 250px;
    border: dotted rgb(0, 255, 149);
    text-align: center;
    box-sizing: border-box;
}

p{
    box-sizing: border-box;
    width: 100%;
    border: 5px solid blue;
    padding: 20px;
}