@import url('https://use.fontawesome.com/releases/v5.10.2/css/all.css');
body {
    margin: 0;
    padding: 0;
}

img {
    box-shadow: 0px 0px 8px 1px #2d2d2d;
    border-radius: 6px;
}

.viewport {
    height: 100vh;
    position: relative;
}

.card {
    margin: 0;
    padding: 0;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-icon {
    position: relative;
    left: -30px;
    top: -10px;
}

.card-icon i {
    color: white;
}

.blue {
    background: rgb(0, 94, 162);
    background: linear-gradient(90deg, rgba(0, 94, 162, 1) 0%, rgba(0, 150, 161, 1) 53%, rgba(0, 202, 159, 1) 100%);
}

.orange {
    background: rgb(168, 51, 120);
    background: linear-gradient(90deg, rgba(168, 51, 120, 1) 0%, rgba(188, 90, 67, 1) 53%, rgba(211, 131, 19, 1) 100%);
}