@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

html{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: #596877;
    line-height: 2;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.info {
    flex-basis: 50%;
    max-width: 550px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

section .info h2,
section .info ul{
    padding-left: 18px;
}
.first{
    padding: 18px;
    background: #e3f3fd;
    margin-right: 20px;
}

.first ul li{
    list-style-type: none;
}

.first ul li i{
    color: #63b7f9;
    padding-right: 8px;
}

.second{
    padding: 58px;
    border: 5px solid #44a9f8;
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
}

.second h2,
.second h3 {
    display: inline-block;
}

.second h2 {
    color: #44a9f8;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.second h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.apply {
    text-transform: uppercase;
    padding: 8px 30px;
    color: white;
    background: #44a9f8;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

